.Home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  background-color:black;
  color: yellow;
}

.Home-left {
  display: flex;
  align-items: center;
}

.Logo .logo {
  height: 70px;
  margin-right: 20px;
  color:black;

}

.Home-right {
  display: flex;
  align-items: center;
}

.user-icon-container,
.user-Manual,
.user-icon {
  height: 80px;
  margin-left: 10px;
  cursor: pointer;
  color:black;
}

.main-content {
  padding: 20px;
}

.content-container {
  text-align: center;
}

.welcome-message {
  margin-bottom: 20px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.Landing-footer {
  text-align: center;
  padding: 10px;
  background-color: black;
  color: yellow;
}

.footer-info {
  margin-bottom: 5px;
}
